{% extends "usuario/layout.html" %}

{% block content %}

<div class="container">
    <div class="tatis">
        <form action="/usuario/asistencia" method="POST">
            <br>
            <label for="uname"><b>Ingresado de Asistencia</b></label>
            <br>
            <input type="text" name="empleado" value="{{ usuario }}" readonly>
            <input type="date" id="fecha" name="fecha" placeholder="Fecha">
            <br>
            <input type="text" id="hora" name="hora">
            <br>
            <select name="comentario" id="">
                <option >Ingreso</option>
                <option >Almuerzo</option>
                <option >Salida</option>
            </select>
            <br>
            <br>
            <button>Enviar</button>           
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container">
                {% for message in messages %}
                <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
    </div>
</div>


<script src="/static/js/user/asistencia.js">
</script>

{% endblock %}