{% extends "usuario/layout.html" %}

{% block content %}

<div class="container">
    <div class="tatis">
        <form action="/usuario/asistencia" method="POST">
            <br>
            <label for="uname"><b>Ingresado de Asistencia</b></label>
            <br>
            <input type="text" name="empleado" value="{{ usuario }}" readonly>
            <input type="date" id="fecha" name="fecha" placeholder="Fecha">
            <br>
            <input type="text" id="hora" name="hora" readonly>
            <br>
            <select name="comentario" id="">
                <option >Ingreso</option>
                <option >Salida</option>
            </select>
            <br>
            <br>
            <button class="enviar">Enviar</button>           
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container">
                {% for message in messages %}
                <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
    </div>
</div>
<script>
    // Selecciona el campo de fecha
var campoFecha = document.getElementById('fecha');

// Escucha el evento 'change'
campoFecha.addEventListener('change', function() {
    // Obtiene la hora actual
    var fechaActual = new Date();
    var hora = fechaActual.getHours();
    var minutos = fechaActual.getMinutes();

    // Asegúrate de que las horas y los minutos sean de dos dígitos
    hora = hora < 10 ? '0' + hora : hora;
    minutos = minutos < 10 ? '0' + minutos : minutos;

    // Formatea la hora como HH:MM
    var horaFormateada = hora + ':' + minutos;

    // Establece la hora en el campo de hora
    var campoHora = document.getElementById('hora');
    campoHora.value = horaFormateada;
});

</script>
<script src="/static/js/user/asistencia.js">
</script>

{% endblock %}