{% extends "usuario/layout.html" %}
{% block content %}
<style>
    .tarea {
        width: 800px;
        padding: 16px;
        background-color: white;
        /* Color de fondo blanco para el formulario de login */
        margin: 0 auto;
        /* Centrar el formulario de login */
        margin-top: 100px;
        /* Espacio en la parte superior */
        border-radius: 8px;
        /* Bordes redondeados */
    }

    input[type=text],
    input[type=password],
    input[type=date],
    input[type=number],
    input[type=email],
    input[type=time],
    select {
        width: 120%;
        padding: 8px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        /* Color de fondo gris claro para los campos de entrada */
    }
</style>


<div class="container">
    <div class="tarea">
        <h1 style="text-align: center;">Vista de Labores</h1>
        <br>
        <div id="contenedor" style="width: 700px; height: 700px; overflow: auto;">     
            <table id="tablaLabores" class="table">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u_tareas in labores %}
                    <tr>
                        <th>
                            {{u_tareas.empleado}}
                        </th>
                        <th>
                            {{u_tareas.fecha}}
                        </th>
                        <th>
                            {{u_tareas.descripcion}}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            

        </div>
    </div>
</div>

<script>
    window.addEventListener('scroll', function () {
        let contenedor = document.getElementById('contenedor');
        let secciones = contenedor.getElementsByTagName('div');
        let navegacion = document.getElementById('navegacion').getElementsByTagName('a');

        for (let i = 0; i < secciones.length; i++) {
            if (secciones[i].offsetTop <= contenedor.scrollTop) {
                for (let j = 0; j < navegacion.length; j++) {
                    navegacion[j].classList.remove('active');
                }
                navegacion[i].classList.add('active');
            }
        }
    });
    $(document).ready(function () {
        $('#tablaAsistencia').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        $('#tablaLabores').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
    });

</script>
{% endblock %}