{% extends "usuario/layout.html" %}

{% block content %}

<div class="container">
    <div class="tatis">
        <form action="/usuario/venta" method="POST">
            <br>
            <label for="uname"><b>Ingresado de Ventas</b></label>
            <br>
            <input type="text" name="vendedor" value="{{ usuario }}" readonly>
            <br>
            
            <select name="categoria" id="">
                <option value="Jean de mujer">Jean de mujer</option>
                <option value="Camisa">Camisa</option>
                <option value="Camiseta">Camiseta</option>
                <option value="Cardigan">Cardigan</option>
                <option value="Blusa">Blusa</option>
                <option value="Blusones">Blusones</option>
                <option value="Enterisos">Enterisos</option>
                <option value="Vestidos">Vestidos</option>
                <option value="Shorts">Shorts</option>
                <option value="Licra">Licra</option>
                <option value="Cartera">Cartera</option>
                <option value="Gorra">Gorra</option>
                <option value="Zapatos">Zapatos</option>
                <option value="Zapatilla">Zapatilla</option>
                <option value="Top">Top</option>
                <option value="Brasier">Brasier</option>
                <option value="Bulto Remate">Bulto Remate</option>
            </select>
            <br>
            <br>
            <input type="number" name="cantidad" placeholder="cantidad">
            <br>
            <input type="date" name="fecha" id="fecha">
            <br>
            <input type="number" step="00.01" name="venta" placeholder="Valor total de la venta">
            <br>
            <button type="submit" >Enviar</button>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>


<script>
    $(document).ready(function() {
    $('select').select2();
    // Obtener la fecha actual de la persona 
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //Enero es 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("fecha").setAttribute("min", today);
    document.getElementById("fecha").setAttribute("max", today);
});
</script>
{% endblock %}