{% extends "admin/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <img src="/static/img/1.jpeg" class="img-fluid">
        </div>
        <div class="col-sm">
            <div class="tatis">
                <form action="/admin/asistencia" method="POST">
                    <br>
                    <label for="uname"><b>Ingresado de Asistencia</b></label>
                    <br>
                    <select name="empleado">
                        {% for usuario in usuario %}
                        <option value="{{ usuario }}">{{ usuario }}</option>
                        {% endfor %}
                    </select>
                    <input type="date"  name="fecha" placeholder="Fecha">
                    <br>
                    <input type="time" id="hora" name="hora">
                    <br>
                    <select name="comentario" id="">
                        <option>Ingreso</option>
                        <option>Almuerzo</option>
                        <option>Salida</option>
                    </select>
                    <br>
                    <br>
                    <button class="enviar">Enviar</button>
                </form>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col align-self-center">
            <img src="/static/img/2.jpeg" class="img-fluid">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').select2();
    });
    
</script>

{% endblock %}