{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img src="/static/img/FIG-5-IZQ.png" class="img-fluid">
        </div>
        <div class="col">
            <div class="tatis">
                <form action="/admin/labores" method="post">
                    <br>
                    <label for="uname"><b>Ingresado de Labores</b></label>
                    <br>
                    <select id="usuario-select" name="empleado">
                        {% for usuario in usuario %}
                        <option value="{{ usuario }}">{{ usuario }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="date" name="fecha">
                    <br>
                    <input type="checkbox" id="plancharRopa" name="descripcion" value="Planchar Ropa">
                    <label for="plancharRopa">Planchar Ropa</label><br>
                    <input type="checkbox" id="ordenarMercaderia" name="descripcion"
                        value="Ordenar y estandarizar mercaderia">
                    <label for="ordenarMercaderia">Ordenar y estandarizar mercaderia</label><br>
                    <input type="checkbox" id="tomarFotos" name="descripcion" value="Tomar fotos">
                    <label for="tomarFotos">Tomar fotos</label><br>
                    <input type="checkbox" id="asistenciaCliente" name="descripcion" value="Asistencia al cliente">
                    <label for="asistenciaCliente">Asistencia al cliente</label><br>
                    <input type="checkbox" id="cincoS" name="descripcion" value="5 S">
                    <label for="cincoS">5 S</label><br>
                    <input type="checkbox" id="envioPedidos" name="descripcion" value="Envio de pedidos">
                    <label for="envioPedidos">Envio de pedidos</label><br>
                    <br>
                    <br>
                    <br>
                    <button class="enviar">Enviar</button>
                </form>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col">
            <img src="/static/img/VESTIDO.png" class="img-fluid">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>


{% endblock %}