{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img src="/static/img/1.jpeg" class="img-fluid">
        </div>
        <div class="col">
            <div class="tatis">
                <form action="/admin/labores" method="post">
                    <br>
                    <label for="uname"><b>Ingresado de Labores</b></label>
                    <br>
                    <select id="usuario-select" name="empleado">
                        {% for usuario in usuario %}
                        <option value="{{ usuario }}">{{ usuario }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="date" name="fecha">
                    <br>
                    <select name="descripcion" id="">
                        <option value="Planchar Ropa">Planchar Ropa</option>
                        <option value="Ordenar y estandarizar mercaderia">Ordenar y estandarizar mercaderia</option>
                        <option value="Tomar fotos">Tomar fotos</option>
                        <option value="Asistencia al cliente">Asistencia al cliente</option>
                        <option value="5 S">5 S</option>
                        <option value="Envio de pedidos">Envio de pedidos</option>
                    </select>
                    <br>
                    <br>
                    <button class="enviar">Enviar</button>
                </form>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col">
            <img src="/static/img/2.jpeg" class="img-fluid">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>


{% endblock %}