{% extends "admin/layout.html" %}

{% block content %}

<div class="container">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Ventas</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario, datos in usuarios_ordenados %}
            <tr>
                <td>{{ usuario }}</td>
                <td>{{ datos['ventas'] }}</td>
                <td>{{ datos['fecha'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <canvas id="myBarChart"></canvas>
</div>

<script>
    //Cambio de english a spanish
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
    });
    // Get references to table elements
    const usuarios = document.querySelectorAll('#example tbody td:first-child');
    const ventas = document.querySelectorAll('#example tbody td:nth-child(2)');

    // Extract data into arrays
    const usuariosArray = Array.from(usuarios).map(usuario => usuario.textContent);
    const ventasArray = Array.from(ventas).map(venta => parseInt(venta.textContent));

    // Get the canvas context for the chart
    const ctx = document.getElementById('myBarChart').getContext('2d');

    // Chart configuration
    const config = {
        type: 'bar',
        data: {
            labels: usuariosArray,
            datasets: [{
                label: 'Ventas por Usuario',
                data: ventasArray,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)', // Light Red
                    'rgba(54, 162, 235, 0.5)', // Light Blue
                    'rgba(255, 206, 86, 0.5)', // Light Yellow
                    'rgba(75, 192, 192, 0.5)', // Light Green
                    'rgba(153, 102, 255, 0.5)', // Light Blue Violet
                    'rgba(255, 159, 64, 0.5)'  // Light Orange
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // Red
                    'rgba(54, 162, 235, 1)', // Blue
                    'rgba(255, 206, 86, 1)', // Yellow
                    'rgba(75, 192, 192, 1)', // Green
                    'rgba(153, 102, 255, 1)', // Blue Violet
                    'rgba(255, 159, 64, 1)'  // Orange
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    };

    // Create the bar chart with Chart.js
    const myBarChart = new Chart(ctx, config);

</script>
{% endblock %}