{% extends "admin/layout.html" %}
{% block content %}

<div class="container">
    <div class="tatis">
        <form action="" method="POST">
            <br>
            <label for="uname"><b>Ingresado de Usuario</b></label>
            <br>
            <input type="number" name="id" placeholder="Identificador numerico">
            <br>
            <input type="text" name="usuario" placeholder="usuario">
            <br>
            <input type="number" id="miInput" oninput="limitarEntrada()" name="cedula" placeholder="cedula">
            <br>
            <input type="email" name="correo" placeholder="correo">
            <br>
            <input type="password" name="password" placeholder="contraseña">
            <br>
            <button class="">Enviar</button>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
<script>
    // Validación de la longitud de la cédula
    document.getElementById('miInput').onchange = function () {
        if (this.value.length !== 10) {
            alert('Necesita 10 dígitos la cedula');
            this.value = '';
        }
    }
    function limitarEntrada() {
        let x = document.getElementById("miInput");
        if (x.value.length > 10) {
            x.value = x.value.slice(0, 10);
        }
    }
</script>

{% endblock %}