{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <img src="/static/img/nike.jpg" class="img-fluid">
        </div>
        <div class="col">
            <div class="tatis">
                <form action="/admin/ventas" method="POST">
                    <br>
                    <label for="uname"><b>Ingresado de Ventas</b></label>
                    <br>
                    <select name="vendedor">
                        {% for usuario in usuario %}
                        <option value="{{ usuario }}">{{ usuario }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="text" name="categoria" placeholder="categoria">
                    <br>
                    <input type="number" name="cantidad" placeholder="cantidad">
                    <br>
                    <input type="date" name="fecha" id="">
                    <br>
                    <input type="number" name="venta" placeholder="venta">
                    <br>
                    <button type="submit">Enviar</button>
                </form>
                <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <h5 style="background-color:#FFC0CB;">{{ message }}</h5>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col">
            <img src="/static/img/adidas.jpg" class="img-fluid">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>
{% endblock %}