{% extends "admin/layout.html" %}
{% block content %}
<div class="container">
    <div>
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for r_asistencia in asistencia %}
                <tr>
                    <td>
                        {{r_asistencia.empleado}}
                    </td>
                    <td>
                        {{r_asistencia.fecha}}
                    </td>
                    <td>
                        {{r_asistencia.hora}}
                    </td>
                    <td>
                        {{r_asistencia.comentario}}
                    </td>
                    <td class="estado-button">
                        {{r_asistencia.estado}}
                    </td>
                    <td>
                        <button class="editar" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>
                        <button>
                            <a class="eliminar" href="{{url_for('eliasi',asi_name=r_asistencia.empleado)}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </a>
                        </button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="editModal" title="Editar Empleado">
    <form id="editForm" action="" method="post">
        <label for="">Empleado</label>
        <input type="text" id="empleado" name="empleado">
        <label for="">Fecha</label>
        <input type="date" id="fecha" name="fecha">
        <label for="">Hora</label>
        <input type="time" id="hora" name="hora">
        <label for="">Comentario</label>
        <input type="text" id="comentario" name="comentario">
        <label for="">Estado</label>
        <input type="text" id="estado" name="estado">
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
        //Cambio de english a spanish
        // Funcionalidad de edición
        table.on('click', '.editar', function () {
            var row = $(this).closest('tr');
            var data = table.row(row).data();
            // Aquí puedes abrir el modal y llenar los campos del formulario con los datos del usuario
            // Por ejemplo:
            $('#empleado').val(data[0]);
            $('#fecha').val(data[1]);
            $('#hora').val(data[2]);
            $('#comentario').val(data[3]);
            $('#estado').val(data[4]);
            $('#editForm').attr('action', '/edit_asi/' + data[0]);
            $('#editModal').dialog('open');
        });
        // Inicializar el modal
        $('#editModal').dialog({
            autoOpen: false,
            modal: true,
            buttons: [
                {
                    text: 'Guardar',
                    click: function () {
                        $('#editForm').submit();
                    },
                    // Agregar una clase al botón
                    class: 'guardar'
                },
                {
                    text: 'Cancelar',
                    click: function () {
                        $(this).dialog('close');
                    },
                    // Agregar una clase al botón
                    class: 'cancelar'
                }
            ]
        });

    });
    //  Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {
        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
    // Obtén todos los botones con la clase "estado-button"
    const botonesEstado = document.querySelectorAll(".estado-button");
    // Itera sobre cada botón y asigna el color según el contenido del comentario
    botonesEstado.forEach((boton) => {
        const comentario = boton.textContent.toLowerCase();
        if (comentario.includes("tarde")) {
            boton.style.backgroundColor = "red";
            boton.style.color = "white";
        } else if (comentario.includes("temprano")) {
            boton.style.backgroundColor = "green";
            boton.style.color = "white";
        } else if (comentario.includes("hora extra")) {
            boton.style.backgroundColor = "white";
            boton.style.color = "black";
        }
    });
</script>
{% endblock %}